body {
    font-family: 'Ubuntu', sans-serif;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

#container {
    width:360px;
    margin: 100px auto;
    background:#f3f8f3;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

h1 {
    background-image: linear-gradient(to right, #2980b0, #3cb4f5);
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#container input{
    font-size: 18px;
    background: #f3f8f3;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 15px;
    border-style: none;
    /* border: 3px soild rgba(0,0,0, 0); */
}

#container input:focus {
    border: 3px solid #9b82be;
    outline: none;
}

#container ul {
    list-style: none;
    margin: 0;
    padding-left: 2px;
}

#container li {
    background: rgb(223, 250, 248);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

#container li:nth-of-type(2n) {
    background: #cff7eb;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}

#container span {
    background: red;
    color: white;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    width: 0;
    display: inline-block;
    transition: 0.3s linear;
    opacity: 0;
}

#container li:hover span {
    width: 35px;
    opacity: 1.0;
}

